@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #e6e6e6 ;
}

/* LAYOUT */

#cabecalho{
    background: #f7b600;
    padding: 15px;
    text-align: center;
    
}

#logo, #menu{
    padding: 10px;
}

#principal{
    width: 920px;
    margin: auto;
    padding: 15px;
}

#postagens, #lateral{
    background-color: white;
}

#postagens a , #lateral a {
    color: #f7b600;
    
}
#postagens a:hover , #lateral a:hover {
    color: #f7b600;
    text-decoration: underline;
    
}

#postagens{
    width: 660px;
    float: left;
}

#lateral{
    width: 240px;
    float: right;
}



#rodape{
    background: #ccc;
    text-align: center;
    padding: 10px;
    clear: both;
}



/* MENU */

a{
    text-decoration: none;
   
}

header a:link, header a:visited{
    color: white ;
    padding: 8px 10px;
}

header a:hover{
    color: #f7b600;
    background-color: white;
}

/* GERAL */

h1{
    color: #4e4e4e;
    font-size: 2.5em;
}

h2{
    color: #f7b600;
}

h3{
    background: #ccc;
    padding: 5px;
    
}

.data{
    font-size: 0.8em;
    border-bottom: 1px solid #CCC;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    display: block;

}

.branco{
    color: white;
}

.post{
    padding: 20px;
    margin-bottom: 20px;
}

.conteudo{
    padding: 10px;
    margin-bottom: 20px;
    
}

.postagem{
    font-size: 0.8em;
    padding: 5px;
}

.postagem-l{
    font-size: 0.8em;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}