@charset "UTF-8";
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

table{
    width: 600px;
    
}       

th,td{
    
    padding: 5px;
}

th{ 
    text-transform: uppercase;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    font-size: 90%;
    letter-spacing: 0.1em;
    
}

tr:hover{
    background-color: aquamarine;
}