@charset "UTF-8";

ul{
    
    width: 720px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: #159cb0 url(img/fundo-horizontal.png) repeat-x;
    float: left;
}

ul li {
    
    float: left;
}

ul a {
    background: url(img/divisor.png) repeat-y;
    display: block;
    padding: 0 2em;
    line-height: 2em;
    text-decoration: none;
    color: white;
}

ul a:hover{
    color: #085662;
    background: #44acad;
}