@charset "UTF-8";

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul a {
    text-decoration: none;
    width: 200px;
    
    height: 40px;
    display: block;
   
    color: #000;
    text-indent: 40px;
    line-height: 40px;
    background: #f7b600 url(imgs/menu.png) no-repeat left center;
}

a:hover  {
    background-position: right bottom;
    background-color: #f99200;
    color: #fff;

}

#home .home a , 
#sobre .sobre a{
    background-position: right bottom;
    background-color: #f99200;
    color: #fff;
}
